
.hh{
border-bottom: 1px solid #00FF76;
width:88%;
margin-top:0px;
margin-left:15px;
margin-right:0;
display:flex;
flex-wrap:wrap;
}
a:link
{
color:yellow;
}

.nav > li > a:hover{
   background-color: black;
 }


.expand_caret {
transform: scale(1.6);
color:#F8D229;
margin-top: 4px;
margin-right:0px;
float:right;
align:right;
}

   
   
a[aria-expanded='true'] > .expand_caret {
    transform: scale(1.6) rotate(-180deg);
}


.cont {
 height:160px;
  width:100%;
  padding: 0px 0;
  background: linear-gradient(6deg, #111010 55%, transparent 2%);
  display: flex;
margin-left:0px;
margin-right:0px;


}
.dv{

background-image:url("biii.jpg");
   opacity: 0.2;
}
.btn{
color:black;
background-color: #F8D229;
width:220px;
border-radius: 2px;
font-size: 22px;
font-weight: bold;
}

.h
{
padding:5px;
padding-bottom:10px;
padding-top:2px;
color:white;
width:100%;
margin-left:20px;
margin-right:0px;

}



.jj
{
padding:2px;
padding-bottom:0px;
padding-top:0px;
color:white;
width:auto;
font-size:12px;
margin-right:2px;
font-family:OpenSans-Light;
}
@media only screen and (min-width: 600px) {
.x
{
padding:5px;
padding-bottom:10px;
padding-top:5px;
color:white;
width:auto;
font-size:5px;
font-family:OpenSans-Light;
margin-left:25px;
}
}

@media only screen and (max-width: 600px) {
.x
{
padding:0px;
padding-bottom:5px;
padding-top:5px;
color:white;
width:auto;
font-size:15px;
font-family:OpenSans-Light;
margin-left:2px;
}
}

@media only screen and (max-width: 600px) {
.jj
{
padding:0px;
padding-bottom:0px;
padding-top:0px;
color:white;
width:auto;
font-size:12px;
font-family:OpenSans-Light;
margin-left:0px;
}
}
